<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>MNiST Study Tool</h1>
    <p>Welcome to MNiST Study Tool</p>
    <img src='images/test.jpeg' />
  </body>
</html>
